<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prédiction du prix de la maison</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <script src='main.js'></script>
</head>

<body>
    <div class="register_page">
        <div class="form">

            <form action="{{url_for('predict.predict')}}" method="POST">
            {% for key,value in metadata.iterrows() %}
                {% if value["Column_type"] == 'numerical' %}
                    <div>
                        <label for='{{ value["Column"] ~ "_input" }}'> {{ value["Description"] }} </label>
                        <input id='{{ value["Column"] ~ "_input" }}' type="number" name='{{ value["Column"] }}' placeholder='{{ value["Description"] }}'>
                    </div>
                {% else %}
                <div>
                <label for='{{ value["Column"] ~ "_select" }}'>{{ value["Description"] }}:</label>
                <select name='{{ value["Column"] }}' id='{{ value["Column"] ~ "_select" }}'>
                    <option value="">{{ value["Description"] }}</option>
                    {% for value in value["Values"] %}
                        <option value= '{{ value|replace(")", "")|replace(")", "") }}'> {{ value|replace("(", "")|replace(")", "") }} </option>
                    {% endfor %}
                    </select>
                </div>
                {% endif %}
            {% endfor %}
                <input type="submit" value="predict" class="submit">
            </form>
        <p> La maison vaut: {{data}}</p>
    </div>


</body>

</html>